<h1>Invoices index</h1>
<div id="invoices">
  <table>
    <tr>
      <th>Invoice</th>
      <th>Revenue Before Discounts</th>
      <th>Revenue After Discounts</th>
    </tr>
  <% @invoices.each do |invoice| %>
  <tr>
  <div id="invoice<%=invoice.id%>">
    <td><%= link_to "#{invoice.id}", merchant_invoice_path(@merchant, invoice) %></<td>
    <td><%= number_to_currency(invoice.total_rev/100) %></td>
    <td><%= number_to_currency(invoice.discounted_rev/100) %></td>
  </div>
  </tr>
  <% end %>
  </table>
</div>
